<nav>
  <h1>LOTTERY LOGGER</h1>
</nav>

<div class="container">
  <table class="table-container">
    <thead class="table-head">
      <td id="t-cell">
        <Button class="btn" (click)="getMegaBalls()"> Generate Mega-B</Button>
      </td>
      <td id="t-cell">
        <Button class="btn-p" (click)="getPowerBalls()">
          Generate Power-B</Button
        >
      </td>
    </thead>
    <pre></pre>
    <tr class="row-1">
      <td class="r-cell">
        Mega
        <div class="mega">
          {{ megaBalls === undefined ? "Mega-Ball" : megaBalls.join("*") }}
        </div>
      </td>
      <td class="r-cell">
        Power
        <div class="power">
          {{ powerBalls === undefined ? "Power-Ball" : powerBalls.join("*") }}
        </div>
      </td>
    </tr>
  </table>
</div>

<br />
<pre></pre>
<pre></pre>

<div class="terminal-container">
  <table>
    <tr>

      <td id="cell2">
        <div class="inner-col2">
          <h1>MegaBall</h1>

          <span *ngFor="let sequence of megaBallSequences">
            {{ sequence?.join("    -    ") + "          }->   " }} <br />
          </span>
          <pre></pre>
        </div>
        <div class="golden">
          <h1 style="text-align: center; padding: 1%">G</h1>

          <span *ngFor="let gold of goldMegaBalls"> {{ gold }} <br /> </span>
        </div>
      </td>

      <td id="cell3">
        <div class="inner-col3">
          <h1>PowerBall</h1>
          <span *ngFor="let sequence of powerBallSequences">
            {{ sequence?.join("    -    ") + "          }->   "}} <br />
          </span>

        </div>
        <div class="redball">
          <h1 style="text-align: center; padding: 1%">R</h1>

          <span *ngFor="let red of redBallS"> {{ red }} <br /> </span>
        </div>
      </td>
    </tr>
  </table>
</div>
