<nav><h1>LOTTERY LOGGER</h1></nav>

<div class="container">
  <table class="table-container">
    <thead class="table-head">
      <td id="t-cell"><Button class="btn"> Generate Mega-B</Button></td>
      <td id="t-cell"><Button class="btn-p"> Generate Power-B</Button></td>
    </thead>
    <pre></pre>
    <tr class="row-1">
      <td class="r-cell">
        Mega
        <div class="mega">Mega-Ball</div>
      </td>
      <td class="r-cell">
        Power
        <div class="power">Power-Ball</div>
      </td>
    </tr>
  </table>
</div>

<br />
<pre></pre>
<pre></pre>

<div class="terminal-container">
  <table>

    <tr>

      <td id="cell1">
        <div class="inner-col1"><h1>All Sequence</h1>All Sequence</div>
      </td>
      <td id="cell2">
        <div class="inner-col2"> <h1>MegaBall</h1> Powerball<pre></pre> </div>
      </td>

      <td id="cell3">
        <div class="inner-col3"> <h1>PowerBall</h1> PowerBall</div>
      </td>

    </tr>
  </table>
</div>
